body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Merriweather", serif;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #f2e8e1; 
    color: #4a4a4a; 
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    margin-top: 30px;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    margin-top: 30px;
}

.header_text {
    font-family: "Merriweather", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #6e3f3b; 
}

.text {
    font-family: "Merriweather", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 28px;
    font-weight: 500;
    color: #6e3f3b;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 20px;
}

.btn {
    background-color: #e8a9a0; 
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn:hover {
    background-color: #f7d1c7; 
    color: #6e3f3b; 
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

p {
    font-family: "Merriweather", serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 36px;
    font-weight: 400;
    color: #6e3f3b;
    text-align: center;
    margin-top: 40px;
}

p a {
    color: #6e3f3b;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
    text-decoration: none;
}

p a:hover {
    opacity: 1;
}
